@import url("https://fonts.googleapis.com/css2?family-Poppins:wght@200;400;600&display=swap");
.HighlightText {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #eb5757;
}

.Headers {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  background: linear-gradient(192.7deg, #152a47 14.55%, #032555 91.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.Paragraphs {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #3a3a3a;
}

.Button {
  all: unset;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 14px;
  padding: 15px 20px;
  text-align: center;
  transition: all 300ms ease-out;
  color: #ffffff;
  cursor: pointer;
  background-color: #152a47;
  height: 100%;
  position: relative;
  display: block;
}
.Button:hover {
  color: rgb(21, 42, 71);
  background-color: #ffffff;
  border: 1px solid rgb(21, 42, 71);
}

.OpposeButton {
  color: rgb(21, 42, 71);
  background-color: #ffffff;
  border: 1px solid rgb(21, 42, 71);
}
.OpposeButton:hover {
  color: #ffffff;
  background-color: #152a47;
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}

.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  height: 70px;
  padding: 1% 10%;
  background-color: #fff;
  color: #000;
}
.Navbar .navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.Navbar .logoSpan svg {
  cursor: pointer;
}
.Navbar .hamburger {
  display: flex;
  justify-content: flex-end;
}
.Navbar .hamburger svg {
  cursor: pointer;
}

.Sidebar {
  height: 100%;
  position: absolute;
  font-family: "Poppins";
  z-index: 30;
  top: 0;
  right: 0;
  bottom: 0;
  width: min(280px, 100%);
  border-radius: 20px 0px 0px 0px;
  background-color: #fff;
}
.Sidebar .sidebarContainer {
  padding: 80px 30px;
  z-index: 30;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #fff;
}
.Sidebar .sidebarContainer .hireUsButton {
  width: 100%;
  display: block;
  margin-top: 20px;
}
.Sidebar .sidebarContainer .hireUsButton .hireUs {
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
}
.Sidebar .logoAndClose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Sidebar .logoAndClose .logo,
.Sidebar .logoAndClose .close {
  flex: 1;
  gap: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Sidebar .logoAndClose .logo .logoName,
.Sidebar .logoAndClose .close .logoName {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: rgb(4, 24, 54);
  display: flex;
  flex-direction: column;
}
.Sidebar .logoAndClose .logo .logoName span:nth-child(1),
.Sidebar .logoAndClose .close .logoName span:nth-child(1) {
  line-height: 1;
}
.Sidebar .logoAndClose .close {
  justify-content: flex-end;
}
.Sidebar .logoAndClose .close span {
  transition: all 300ms ease-in-out;
  display: flex;
  padding: 5px;
  background: #f3f2f2;
  box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.Sidebar .logoAndClose .close span svg {
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.Sidebar .logoAndClose .close span svg:hover {
  box-shadow: 4.5px 4.5px 3.1px rgba(0, 0, 0, 0.024), 12.5px 12.5px 8.5px rgba(0, 0, 0, 0.035), 30.1px 30.1px 20.5px rgba(0, 0, 0, 0.046), 100px 100px 68px rgba(0, 0, 0, 0.07);
}
.Sidebar .hr {
  margin: 30px 0;
  width: 100%;
}
.Sidebar .hr hr {
  background: #e3e3e3;
  border-radius: 1px;
  width: 80%;
  margin: auto;
}

.internalLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  font-style: normal;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 20px;
  gap: 25px;
  padding: 15px;
}
.internalLinks .link {
  color: #656464;
  width: 100%;
  transition: color 200ms ease-in-out;
}
.internalLinks .link:hover {
  color: #1d2f4a;
}
.internalLinks .link aside {
  position: relative;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}
.internalLinks .link aside div {
  display: flex;
  align-items: center;
  gap: 2px;
}
.internalLinks .link aside div span {
  display: flex;
  font-size: 15px;
  transform: translateY(2px);
}
.internalLinks .link aside ul {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
  flex-direction: column;
  gap: 15px;
  cursor: default;
}
.internalLinks .link aside ul li {
  color: #656464;
  white-space: nowrap;
  width: 100%;
  font-size: 18px;
  transition: all 200ms ease-in-out;
}
.internalLinks .link aside ul li:hover {
  transform: translateY(-2px);
  color: #1d2f4a;
}

.hireUsButton {
  display: flex;
  justify-content: flex-end;
}
.hireUsButton .hireUs {
  background: #eb5757;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  font-weight: 600;
  padding: 7px 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
.hireUsButton .hireUs a span {
  white-space: nowrap;
}

@media (min-width: 750px) {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    background: linear-gradient(192.7deg, #152a47 14.55%, #032555 91.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 20px;
    font-weight: 700;
  }
  .internalLinks {
    flex: 2;
    flex-direction: row;
    gap: clamp(15px, 2.5vw, 44px);
    padding: 5px 20px;
    font-size: 16px;
    white-space: nowrap;
    justify-content: center;
  }
  .internalLinks .link {
    width: -moz-fit-content;
    width: fit-content;
  }
  .internalLinks .link aside {
    position: unset;
  }
  .internalLinks .link ul {
    position: absolute;
    top: 70px;
    width: -moz-fit-content !important;
    width: fit-content !important;
    background: #fefefe;
    z-index: 10;
    list-style: none;
    padding: 20px 10px 50px !important;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  }
  .internalLinks .link ul li {
    transition: all 200ms ease-in-out;
  }
  .internalLinks .link ul li:hover {
    transform: translateY(-2px);
  }
}
.Footer {
  color: #6b7280;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: #041836;
}
.Footer .FooterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5% 10%;
  flex-direction: column;
  gap: 2rem;
}
.Footer .FooterContainer h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #9ca3af;
  letter-spacing: 0.05em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.Footer .FooterContainer aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  line-height: 24px;
  gap: 0.7rem;
}
.Footer .FooterContainer aside div {
  width: 100%;
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.Footer .FooterContainer aside a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  transition: all 300ms ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
}
.Footer .FooterContainer aside a:hover {
  color: #fff;
}
.Footer .FooterContainer section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 550px) {
  .Footer .FooterContainer section {
    white-space: nowrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .Footer .FooterContainer section aside {
    flex: 1;
    align-self: baseline;
  }
}
.Footer .FooterContainer .FooterHeader .FooterSocials {
  justify-content: flex-start;
  flex-direction: row;
}
.Footer .FooterContainer .FooterHeader .FooterSocials a {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.66);
}
.Footer .FooterContainer .FooterContact .FooterContactLinks a {
  display: flex;
  flex-direction: row;
  line-height: 1;
  gap: 8px;
}
@media (min-width: 1024px) {
  .Footer .FooterContainer {
    flex-direction: row;
    height: 100%;
  }
  .Footer .FooterContainer section {
    display: flex;
    flex-wrap: nowrap;
    flex: 3;
  }
  .Footer .FooterContainer .FooterHeader {
    align-self: baseline;
    flex: 1.5;
  }
}
.Footer .FooterBottom {
  border-top: 1px solid;
  padding: 3% 5%;
  text-align: center;
}/*# sourceMappingURL=Layout.module.css.map */