@import "../General/General.module.scss";

.Hero {
  position: relative;
  background-color: #fff;
  padding: 100px $leftRight;
  @include Flex();
  section {
    flex: 1;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .HeroContent {
    @include BOX();
    align-self: baseline;
    h1,
    p {
      max-width: 600px;
    }
    .HeroButton {
      display: flex;
      gap: 1rem;
    }
  }
}
.Dev {
  position: relative;
  background-color: #fff;
  padding: 0 $leftRight;
  @include Flex();
  gap: 10px;
  .DevImage {
    flex: 2;
    align-self: flex-start;
    position: relative;
    width: 100%;
    &:has(span) {
      padding-top: min(100%, 342px);
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .DevContent {
    align-self: baseline;
    flex: 3;
    @include BOX();
  }
  @media (max-width: calc($breakpoint-mobile - 100px)) {
    flex-direction: column;
  }
}
.FlexBoxes {
  padding: 30px $leftRight;
  background-color: #fff;
  .FlexBoxesContent {
    @include Flex();
    gap: 15px;
    aside {
      box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
      border-radius: 10px;
      padding: 25px 20px;
      color: #000;
      max-width: 500px;
      @include Flex();
      justify-content: unset;
      flex-direction: column;
      gap: 7px;
      align-self: stretch;
      margin: 0 auto;
      div {
        @include Flex();
        h3 {
          text-align: center;
          width: 100%;
          white-space: nowrap;
        }
      }
    }
    @media (max-width: calc($breakpoint-mobile + 50px)) {
      flex-direction: column;
      h3 {
        white-space: normal;
      }
    }
  }
}
.Startups {
  padding: 30px $leftRight;
  background: #ecf0ff;
  .StartupsAssets {
    width: 100%;
    & > div {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      justify-items: stretch;
      align-items: stretch;
      & > div {
        gap: 1rem;
        display: flex;
      }
      .Image {
        position: relative;
        width: min(250px, 100%) !important;
        padding-top: 100px;
      }
      @media (min-width: 700px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
.Services {
  padding: 30px $leftRight;
  background: #fff;
  aside {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 23px;
    text-align: center;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
    border-radius: 14px;
    header {
      @include Flex();
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      margin-bottom: 1rem;
    }
    h1 {
      white-space: nowrap;
    }
    p {
      text-align: left;
    }
    .ServicesLearnmore {
      @include Flex();
      width: fit-content;
      gap: 0.5rem;
      a {
        background-image: linear-gradient(
          192.7deg,
          #0066ff 14.55%,
          #7000ff 91.2%
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
      span {
        transform: translateY(2px);
      }
    }
  }
  @media (min-width: calc($breakpoint-mobile - 150px)) {
    div {
      flex: calc(33.33% - 20px);
    }
  }
  @media (min-width: calc($breakpoint-mobile + 150px)) {
    div {
      flex: calc(25% - 20px);
    }
  }
}
.Hire {
  padding: 30px $leftRight;
  background-color: #fff;
  @include Flex();
  gap: 1rem;
  flex-direction: column;
  .HireContent {
    @include BOX();
  }
  section {
    flex: 1;
  }
  .HireImage {
    position: relative;
    width: 100%;
    padding-top: min(294px, 100%);
  }
  @media (min-width: calc($breakpoint-mobile + 50px)) {
    flex-direction: row;
    .HireContent {
      order: 1;
    }
    .HireImage {
      order: 2;
    }
  }
}
.Newsletter {
  padding: 30px $leftRight;
  background-color: #f4f8fd;
  section {
    @include Flex();
    flex-direction: column;
    gap: 15px;
    div {
      width: 100%;
    }
    @media (min-width: calc($breakpoint-mobile - 50px)) {
      flex-direction: row;
      aside {
        flex: 2;
        h1 {
          max-width: 300px;
        }
      }
      div {
        flex: 3;
      }
    }
  }
  div {
    position: relative;
    overflow: hidden;
    input {
      all: unset;
      background-color: #fff;
      padding: 0 14px;
      border: 0.8px solid #c0c0c0;
      height: 44px;
      border-radius: 8px;
      width: 100%;
      color: #000;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
.JoinTeam {
  padding: 50px $leftRight;
  background-color: #fff;
  section {
    @include BOX();
    align-self: baseline;
    h1,
    p {
      max-width: 600px;
    }
    .HeroButton {
      display: flex;
      gap: 1rem;
    }
  }
}
