@import url("https://fonts.googleapis.com/css2?family-Poppins:wght@200;400;600&display=swap");
.HighlightText {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #eb5757;
}

.Headers {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  background: linear-gradient(192.7deg, #152a47 14.55%, #032555 91.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.Paragraphs {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #3a3a3a;
}

.Button {
  all: unset;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 14px;
  padding: 15px 20px;
  text-align: center;
  transition: all 300ms ease-out;
  color: #ffffff;
  cursor: pointer;
  background-color: #152a47;
  height: 100%;
  position: relative;
  display: block;
}
.Button:hover {
  color: rgb(21, 42, 71);
  background-color: #ffffff;
  border: 1px solid rgb(21, 42, 71);
}

.OpposeButton {
  color: rgb(21, 42, 71);
  background-color: #ffffff;
  border: 1px solid rgb(21, 42, 71);
}
.OpposeButton:hover {
  color: #ffffff;
  background-color: #152a47;
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}

.Hero {
  position: relative;
  background-color: #fff;
  padding: 100px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Hero section {
  flex: 1;
}
.Hero section svg {
  width: 100%;
  height: 100%;
}
.Hero .HeroContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  align-self: baseline;
}
.Hero .HeroContent h1,
.Hero .HeroContent p {
  max-width: 600px;
}
.Hero .HeroContent .HeroButton {
  display: flex;
  gap: 1rem;
}

.Dev {
  position: relative;
  background-color: #fff;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.Dev .DevImage {
  flex: 2;
  align-self: flex-start;
  position: relative;
  width: 100%;
}
.Dev .DevImage:has(span) {
  padding-top: min(100%, 342px);
}
.Dev .DevImage svg {
  width: 100%;
  height: 100%;
}
.Dev .DevContent {
  align-self: baseline;
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}
@media (max-width: 650px) {
  .Dev {
    flex-direction: column;
  }
}

.FlexBoxes {
  padding: 30px 10%;
  background-color: #fff;
}
.FlexBoxes .FlexBoxesContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}
.FlexBoxes .FlexBoxesContent aside {
  box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
  border-radius: 10px;
  padding: 25px 20px;
  color: #000;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: unset;
  flex-direction: column;
  gap: 7px;
  align-self: stretch;
  margin: 0 auto;
}
.FlexBoxes .FlexBoxesContent aside div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.FlexBoxes .FlexBoxesContent aside div h3 {
  text-align: center;
  width: 100%;
  white-space: nowrap;
}
@media (max-width: 800px) {
  .FlexBoxes .FlexBoxesContent {
    flex-direction: column;
  }
  .FlexBoxes .FlexBoxesContent h3 {
    white-space: normal;
  }
}

.Startups {
  padding: 30px 10%;
  background: #ecf0ff;
}
.Startups .StartupsAssets {
  width: 100%;
}
.Startups .StartupsAssets > div {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: stretch;
  align-items: stretch;
}
.Startups .StartupsAssets > div > div {
  gap: 1rem;
  display: flex;
}
.Startups .StartupsAssets > div .Image {
  position: relative;
  width: min(250px, 100%) !important;
  padding-top: 100px;
}
@media (min-width: 700px) {
  .Startups .StartupsAssets > div {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .Startups .StartupsAssets > div {
    grid-template-columns: repeat(4, 1fr);
  }
}

.Services {
  padding: 30px 10%;
  background: #fff;
}
.Services aside {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.Services div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 23px;
  text-align: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
  border-radius: 14px;
}
.Services div header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 1rem;
}
.Services div h1 {
  white-space: nowrap;
}
.Services div p {
  text-align: left;
}
.Services div .ServicesLearnmore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.5rem;
}
.Services div .ServicesLearnmore a {
  background-image: linear-gradient(192.7deg, #0066ff 14.55%, #7000ff 91.2%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.Services div .ServicesLearnmore span {
  transform: translateY(2px);
}
@media (min-width: 600px) {
  .Services div {
    flex: calc(33.33% - 20px);
  }
}
@media (min-width: 900px) {
  .Services div {
    flex: calc(25% - 20px);
  }
}

.Hire {
  padding: 30px 10%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  flex-direction: column;
}
.Hire .HireContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}
.Hire section {
  flex: 1;
}
.Hire .HireImage {
  position: relative;
  width: 100%;
  padding-top: min(294px, 100%);
}
@media (min-width: 800px) {
  .Hire {
    flex-direction: row;
  }
  .Hire .HireContent {
    order: 1;
  }
  .Hire .HireImage {
    order: 2;
  }
}

.Newsletter {
  padding: 30px 10%;
  background-color: #f4f8fd;
}
.Newsletter section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 15px;
}
.Newsletter section div {
  width: 100%;
}
@media (min-width: 700px) {
  .Newsletter section {
    flex-direction: row;
  }
  .Newsletter section aside {
    flex: 2;
  }
  .Newsletter section aside h1 {
    max-width: 300px;
  }
  .Newsletter section div {
    flex: 3;
  }
}
.Newsletter div {
  position: relative;
  overflow: hidden;
}
.Newsletter div input {
  all: unset;
  background-color: #fff;
  padding: 0 14px;
  border: 0.8px solid #c0c0c0;
  height: 44px;
  border-radius: 8px;
  width: 100%;
  color: #000;
}
.Newsletter div button {
  position: absolute;
  right: 0;
  top: 0;
}

.JoinTeam {
  padding: 50px 10%;
  background-color: #fff;
}
.JoinTeam section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  align-self: baseline;
}
.JoinTeam section h1,
.JoinTeam section p {
  max-width: 600px;
}
.JoinTeam section .HeroButton {
  display: flex;
  gap: 1rem;
}/*# sourceMappingURL=Home.module.css.map */