@import url("https://fonts.googleapis.com/css2?family-Poppins:wght@200;400;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  background-color: #fff;
  color: #000;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* * {
  box-sizing: border-box;
} */
*,
:after,
:before {
  box-sizing: border-box;
}
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.PageLoadingModal {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 95px 24px;
  height: 100vh;
  inset: 0px;
  overflow: auto;
  display: flex;
  transform: translate3d(0px, 0px, 0px);
  will-change: opacity;
  color: white;
  backface-visibility: hidden;
  backdrop-filter: blur(20px);
  perspective: 1000px;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2222;
  flex-direction: column;
}
.loadingText {
  position: relative;
  font-size: clamp(16px, 1.2rem, 2.1vw);
  font-family: "Major Mono Display", monospace;
}
.loadingText h1 {
  position: relative;
  letter-spacing: 5px;
  padding-top: 30px;
  color: #fff;
  overflow: hidden;
}
