@import url("https://fonts.googleapis.com/css2?family-Poppins:wght@200;400;600&display=swap");
.HighlightText {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #eb5757;
}

.Headers {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  background: linear-gradient(192.7deg, #152a47 14.55%, #032555 91.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.Paragraphs {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #3a3a3a;
}

.Button {
  all: unset;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 14px;
  padding: 15px 20px;
  text-align: center;
  transition: all 300ms ease-out;
  color: #ffffff;
  cursor: pointer;
  background-color: #152a47;
  height: 100%;
  position: relative;
  display: block;
}
.Button:hover {
  color: rgb(21, 42, 71);
  background-color: #ffffff;
  border: 1px solid rgb(21, 42, 71);
}

.OpposeButton {
  color: rgb(21, 42, 71);
  background-color: #ffffff;
  border: 1px solid rgb(21, 42, 71);
}
.OpposeButton:hover {
  color: #ffffff;
  background-color: #152a47;
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}

.Services {
  background-color: #fff;
  color: #000;
}
.Services section {
  margin: 30px 0;
}
.Services .ServicesHeader {
  margin: 0;
  height: 220px;
  background: #fff;
  background-image: url("/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.Services .ServicesHeader .ServicesHeaderContent {
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  transform: translateY(-50%);
}
.Services .ServicesBody {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
}
.Services .ServicesBody .ServicesTop {
  order: 2;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}
.Services .ServicesBody .ServicesTop div {
  font-size: 27px;
}
.Services .ServicesBody .ServicesTop div span {
  color: #eb5757;
}
.Services .ServicesBody .ServicesImage {
  width: 100%;
  display: flex;
  order: 1;
}
.Services .ServicesBody .ServicesImage svg {
  width: 100%;
  height: 100%;
}
@media (min-width: 900px) {
  .Services .ServicesBody {
    flex-direction: row;
  }
  .Services .ServicesBody .ServicesImage,
  .Services .ServicesBody .ServicesTop {
    flex: 1;
  }
  .Services .ServicesBody .ServicesTop {
    order: 1;
  }
  .Services .ServicesBody .ServicesImage {
    order: 2;
  }
}
.Services .ServicesBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 80%;
  margin: auto;
  flex-direction: column;
  padding: 21px 51px;
  background: linear-gradient(192.7deg, #152a47 14.55%, #032555 91.2%);
}
.Services .ServicesBottom h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #fff;
  margin: 1rem 0;
}
@media (min-width: 750px) {
  .Services .ServicesBottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
.Services .ContactUs {
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  flex-direction: column;
}
.Services .ContactUs .ServicesLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 30px;
  align-self: baseline;
  background: linear-gradient(192.7deg, #152a47 14.55%, #032555 91.2%);
  border-radius: 10px;
  flex: 0.85;
  color: #fff;
}
.Services .ContactUs .ServicesLeft h1 {
  font-weight: 600;
  font-size: 25px;
  margin: 0 0 10px;
}
.Services .ContactUs .ServicesLeft div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  justify-content: unset;
  margin: 20px 0;
}
.Services .ContactUs .ServicesLeft div p span {
  display: flex;
  flex-direction: column;
}
.Services .ContactUs .ServicesRight {
  flex: 1;
  width: 100%;
}
.Services .ContactUs .ServicesRight form {
  padding: 0 20px;
}
.Services .ContactUs .ServicesRight h1 {
  padding: 0 18px;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}
.Services .ContactUs .ServicesRight div {
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.Services .ContactUs .ServicesRight div p {
  text-align: center;
  margin: auto;
  font-size: 14px;
  color: #656464;
  position: relative;
  background-color: #fff;
  padding: 0 10px;
  z-index: 4;
  width: -moz-fit-content;
  width: fit-content;
}
.Services .ContactUs .ServicesRight div hr {
  position: absolute;
  top: 50%;
  width: 100%;
}
.Services .ContactUs .ServicesRight span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
}
.Services .ContactUs .ServicesRight span label {
  width: 100%;
}
.Services .ContactUs .ServicesRight input,
.Services .ContactUs .ServicesRight textarea {
  all: unset;
  color: #000;
  padding: 12px;
  width: 100%;
  background: #fefefe;
  border: 0.8px solid #c0c0c0;
  border-radius: 5px;
  box-sizing: border-box;
}
@media (min-width: 800px) {
  .Services .ContactUs {
    flex-direction: row;
  }
}
.Services .NewsAndEvents {
  padding: 0 10%;
  background-color: #fff;
  color: #000;
}
.Services .NewsAndEvents .NewsAndEventsFeatured {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  flex-direction: column;
  gap: 1.4rem;
  flex: 1;
  align-items: flex-start;
  border: 3px solid #3a3a3a;
  border-radius: 10px;
  padding: 10px;
  align-self: baseline;
}
.Services .NewsAndEvents .NewsAndEventsFeatured .NewsAndEventsImages {
  overflow: hidden;
  position: relative;
  width: min(500px, 100%);
  padding-top: 100%;
  box-shadow: 2px 5px 40px -12px #020518;
  border-radius: 10px;
  margin: auto;
}
.Services .NewsAndEvents .NewsAndEventsFeatured .NewsAndEventsFeaturedContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.Services .NewsAndEvents .NewsAndEventsFeatured .NewsAndEventsFeaturedContent p {
  font-size: 13px;
  color: #656464;
}
.Services .NewsAndEvents .NewsAndEventsFeatured h1 {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.Services .NewsAndEvents .NewsAndEventsFeatured a {
  color: #eb5757;
}
.Services .NewsAndEvents .NewsAndEventsLatest {
  margin: 20px 0;
  flex: 1;
  align-self: baseline;
}
.Services .NewsAndEvents .NewsAndEventsLatest .NewsAndEventsLatestContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  flex-direction: column;
  gap: 1.3rem;
  margin: 1.5rem 0;
  align-items: flex-start;
  border-bottom: 1px solid #eaecf0;
  padding-bottom: 30px;
}
.Services .NewsAndEvents .NewsAndEventsLatest .NewsAndEventsLatestContainer .NewsAndEventsLatestNews {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  gap: 1rem;
  flex-direction: column;
  align-items: baseline;
}
@media (min-width: 1000px) {
  .Services .NewsAndEvents .NewsAndEventsLatest .NewsAndEventsLatestContainer .NewsAndEventsLatestNews {
    flex-direction: row;
    align-items: center;
  }
}
.Services .NewsAndEvents .NewsAndEventsLatest .NewsAndEventsLatestContainer .NewsAndEventsLatestNews .NewsAndEventsLatestImage {
  flex: 1;
  position: relative;
  padding-top: min(50%, 186px);
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 5px 40px -12px #020518;
}
.Services .NewsAndEvents .NewsAndEventsLatest .NewsAndEventsLatestContainer .NewsAndEventsLatestNews .NewsAndEventsLatestContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.Services .NewsAndEvents .NewsAndEventsLatest .NewsAndEventsLatestContainer .NewsAndEventsLatestNews .NewsAndEventsLatestContent h1 {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.Services .NewsAndEvents .NewsAndEventsLatest .NewsAndEventsLatestContainer .NewsAndEventsLatestNews .NewsAndEventsLatestContent div {
  display: flex;
  justify-content: space-between;
}
.Services .NewsAndEvents .NewsAndEventsLatest .NewsAndEventsLatestContainer .NewsAndEventsLatestNews .NewsAndEventsLatestContent div p {
  font-size: 13px;
  color: #656464;
}
.Services .NewsAndEvents .NewsAndEventsLatest .NewsAndEventsLatestPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
}
.Services .NewsAndEvents .NewsAndEventsLatest .NewsAndEventsLatestPagination button {
  all: unset;
  border: 1px solid #d0d5dd;
  padding: 8px 14px;
  display: flex;
  gap: 7px;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  cursor: pointer;
  background: #fff;
  transition: all 300ms ease-in-out;
}
.Services .NewsAndEvents .NewsAndEventsLatest .NewsAndEventsLatestPagination button:hover {
  background: #f9f5ff;
  border: none;
}
.Services .NewsAndEvents .NewsAndEventsLatest .NewsAndEventsLatestPagination .activeButton {
  background: #f9f5ff;
  border: none;
}
@media (min-width: 600px) {
  .Services .NewsAndEvents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
}
.Services .NewsAndEventsDynamic {
  padding: 1% 10%;
}
.Services .NewsAndEventsDynamic .NewsAndEventsDynamicBack {
  background: linear-gradient(192.7deg, #152a47 14.55%, #032555 91.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 20px;
  cursor: pointer;
  letter-spacing: 0.03em;
  font-size: 20px;
  line-height: 30px;
}
.Services .NewsAndEventsDynamic .NewsAndEventsDynamicContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.Services .NewsAndEventsDynamic .NewsAndEventsDynamicContent .NewsAndEventsDynamicMain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}
.Services .NewsAndEventsDynamic .NewsAndEventsDynamicContent .NewsAndEventsDynamicMain p {
  font-size: 16px;
}
.Services .NewsAndEventsDynamic .NewsAndEventsDynamicContent .NewsAndEventsDynamicMain .Image {
  position: relative;
  width: 100%;
  padding-top: 70%;
}
.Services .NewsAndEventsDynamic .NewsAndEventsDynamicContent .NewsAndEventsDynamicMain button:hover {
  color: #fff;
  border: none;
  transform: scale(1.01);
}
.Services .NewsAndEventsDynamic .NewsAndEventsDynamicContent .NewsAndEventsDynamicMain .NewsAndEventsDynamicFeaturedContent {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.Services .NewsAndEventsDynamic .NewsAndEventsDynamicContent .NewsAndEventsDynamicMain .NewsAndEventsDynamicFeaturedContent p {
  font-size: 13px;
  color: #656464;
}
.Services .NewsAndEventsDynamic .NewsAndEventsDynamicContent .NewsAndEventsDynamicNews {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  flex-direction: column;
  gap: 1.3rem;
  margin: 1.5rem 0;
  align-items: flex-start;
  border-bottom: 1px solid #eaecf0;
  padding-bottom: 30px;
}
.Services .NewsAndEventsDynamic .NewsAndEventsDynamicContent .NewsAndEventsDynamicNews .Content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 0;
  transition: all 300ms ease-in-out;
}
.Services .NewsAndEventsDynamic .NewsAndEventsDynamicContent .NewsAndEventsDynamicNews .Content h1 {
  color: #3a3a3a;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.Services .NewsAndEventsDynamic .NewsAndEventsDynamicContent .NewsAndEventsDynamicNews .Content div {
  display: flex;
  gap: 20px;
}
.Services .NewsAndEventsDynamic .NewsAndEventsDynamicContent .NewsAndEventsDynamicNews .Content div p {
  font-size: 12px;
  color: #656464;
}
.Services .NewsAndEventsDynamic .NewsAndEventsDynamicContent .NewsAndEventsDynamicNews .Content:hover {
  box-shadow: 4.5px 4.5px 3.1px rgba(0, 0, 0, 0.024), 12.5px 12.5px 8.5px rgba(0, 0, 0, 0.035), 30.1px 30.1px 20.5px rgba(0, 0, 0, 0.046), 100px 100px 68px rgba(0, 0, 0, 0.07);
}
@media (min-width: 800px) {
  .Services .NewsAndEventsDynamic .NewsAndEventsDynamicContent {
    flex-direction: row;
    gap: 2rem;
  }
  .Services .NewsAndEventsDynamic .NewsAndEventsDynamicContent .NewsAndEventsDynamicMain {
    flex: 6.5;
  }
  .Services .NewsAndEventsDynamic .NewsAndEventsDynamicContent .NewsAndEventsDynamicNews {
    flex: 3.5;
    align-self: baseline;
  }
}/*# sourceMappingURL=services.module.css.map */